# dependencies
/node_modules

# testing
/coverage

# production
/build
/src/bin
/src/bin/*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

firebase-debug.log
../firebase-debug.log
..firebase/
.firebase/hosting.YnVpbGQ.cache
