#homePageImage {
  background-image: url(/images/google_pixel_3_app_presentation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcomeText {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 6px #000;
  font-size: 60px;
  font-weight: normal;
}
